@model CoddingGurrus.web.Helper.GridViewModel<CoddingGurrus.Core.Dtos.Tutorials.ContentDto>
@{
    ViewData["Title"] = "Index";
}
<div class="page-body">
    <div class="container-xl">
        @await Html.PartialAsync("_ApplicationGridPartial", Model)
    </div>
</div>