<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Role Against Menu</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="fs-4 d-flex justify-content-end mt-2">Select User Role For Permission</label>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownList("RoleId", ViewBag.Role as SelectList, "Select Role", new { @class = "form-control", id = "roleDropdown" })
                    </div>
                </div>
            </div>
            <div class="card-footer text-end mt-5">
                <a href="@Url.Action("Index","Role")" class="btn btn-danger">Cancel</a>
                <button type="button" class="btn btn-primary" id="continueButton">Continue</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('continueButton').addEventListener('click', function () {
        debugger
        var roleId = document.getElementById('roleDropdown').value;
        if (roleId === "") {
            alert("Please select a role.");
        } else {
            window.location.href = "@Url.Action("GetMenusPermission", "RoleMenuPermission")?RoleId=" + roleId;
        }
    });
</script>